
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

 /* Better box-sizing */
* { box-sizing: border-box; }


html {height: 100%;}

body { 
  margin: 0; 
  opacity: 0;
  background-image: url(assets/img/background.svg);
  background-size: cover; 
}

body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

/*Banner starts*/
.banner {
  position: relative;
  width: 100%;
  height:300px;
  overflow: hidden;
  }

.banner .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate3d(0,0,0) scale(1.25);
  background-image: url(assets/img/minecraft.png);
  background-size: cover;
  background-position: center;
  }

.loaded .banner .background {
  transform: scale(1);
  transition: 6.5s transform;
  }
/*Banner ends*/

/*Logo animation starts*/         
svg{           
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    margin: auto;
    z-index: 1;
    width: 50%;
    height: auto;
    animation: float 1.5s infinite ease-in-out alternate;
    opacity: 1;
    transform-origin: 0 1px;
    -webkit-filter: drop-shadow(1px 22px 1px black);
     filter: drop-shadow(1px 3px px black); 
    }
       
@keyframes float {
	100% {transform: translateY(15px);}
    } 

#f1{
    opacity: 0;
    animation: blink 2s infinite;
    }
#f2{
    opacity: 0;
    animation: blink 2.2s infinite;
    }
#f3{
    opacity: 0;
    animation: blink 2.4s infinite;
    }
#f4{
    opacity: 0;
    animation: blink 2.6s infinite;
    }
#f5{
    opacity: 0;
    animation: blink 2.8s infinite;
    }
@keyframes blink {
  0% { opacity: 0; }
  45% { opacity: 0; }
  50% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
#wings{
    animation: wingsmove 3s infinite;    
    }
        
@keyframes wingsmove {
    0% { transform: rotate(1.5deg); }
    50% { transform: rotate(0.1deg); }
    100% { transform: rotate(1.5deg); }
    }

#sword{
   animation: swordmove 0.8s linear infinite alternate-reverse;
    }  

@keyframes swordmove { 
   40% {transform: rotatey(-19deg);}
   100% { transform: translate(-8px); }
    }
        
#mouth{
    animation: mouthopen 3s linear infinite;
    animation-delay: 1s;
    }
        
@keyframes mouthopen {
    0% { transform: translate(); }
    20% { transform: translate(20px,2px); }
    }
    }
/*Logo animation ends*/ 

/*Logo animation responsive starts*/         
@media screen and (max-width : 1400px){
    svg{           
    width: 100%;
    position: relative;
    }
    }
    
@media screen and (max-width: 720px) {
     svg{           
    width: 100%;
    height: auto;
    }
    }  
   
@media screen and (max-width : 480px){
  
    svg{           
    width: 100%;
    height: auto;
    }
    } 
/*Logo animation responsive ends*/            

/*-Menu starts*/             
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin: 0;
  }

div#menubg{
  width: 100%;
  background-color: black;
  position: absolute;
  height: 70px;
  }

nav {
  width: 500px;
  background-color:black;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  margin: auto;
  }

nav ul li {
  display:inline-block;  
  width: 140px;
  text-align: center;
  position:relative;
  left:0;
  right:0;
  margin-top: -10px;
  }

nav a {
  color:#FFFFFF;
  display:block;
  text-decoration: none;
  padding:20px 30px;    
  }

nav a:hover {
  color:#35C789;
  }
/*-Menu ends*/ 

/*Menu responsive starts*/
@media screen and (max-width:480px) {
nav ul li {
  margin-left: 20%;
  display:inline-block;  
  }

nav a:hover {
  background-color: #000000;
  color:#35C789;
  width: 100%;
  }
  }


@media screen and (max-width:1440px) {
nav ul li {
  display:inline-block;  
  }
#email-wrapper {
  width: 100%;
  margin: 20px;
}
  }

/*Menu responsive ends*/



/*footer starts*/
div#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  color:white;
  text-align: center;
  font-size: 12px; 	
}
/*footer ends*/

/* Email Things */

   @import url('https://fonts.googleapis.com/css?family=Roboto');

      
    h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    }

    form { 
    max-width:420px;
    margin:20px auto; 
    }
       
   .feedback-input {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #35C789;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    background: black;
    }

   .feedback-input:focus { border:2px solid #555087; }

   textarea {
   height: 150px;
   line-height: 150%;
   resize:vertical;
    }

  [type="submit"] {
  font-family:'Roboto', sans-serif;
  width: 100%;
  background:#000000;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  border:2px solid #35C789;
  }

  [type="submit"]:hover {
  background:#35C789; 
  }